{% from 'episode/state.html' import render_episode_state %}
{% from 'episode/actions.html' import render_episode_actions %}

{% macro render_episode_list(episodes, redirect_url='') %}
<table>
  <tr>
    <th>ID</th>
    <th>State</th>
    <th>Episode</th>
    <th>Show</th>
    <th>Title</th>
    <th>Airdate</th>
  </tr>
  {% for episode in episodes %}
  <tr>
    <td><a href="/episodes/{{ episode.id }}">{{ episode.id }}</a></td>
    <td>{{ render_episode_state(episode) }}</td>
    <td>{{ episode.season_episode_id }}</td>
    <td>{{ episode.series.name }}</td>
    <td>{{ episode.name }}</td>
    <td>{{ episode.airdate }}</td>
    <td>{{ render_episode_actions(episode, redirect_url) }}</td>
  </tr>
  {% endfor %}
</table>
{% endmacro %}
