{% from 'torrent/list.html' import render_torrent_list %}
{% from 'episode/upload.html' import render_episode_torrent_upload %}

{% extends "base.html" %}
{% block body %}
<h1>Torrents for {{ episode.to_string() }}</h1>
<div>
  <table>
    <tr>
      <th>Title</th>
      <th>Size</th>
      <th>S/L</th>
    </tr>
    {% for torrent in torrents %}
    <tr>
      <td>{{ torrent.title }}
        {% if optimal_torrent and optimal_torrent.provider_id == torrent.provider_id %}
        <span style="color: green">(optimal)</span>
        {% endif %}
      </td>
      <td>{{ torrent.size }}</td>
      <td>{{ torrent.seeders }} / {{ torrent.leechers }}</td>
      {% if g.acl == 'admin' %}
      <td>
        <a title="Fetch Torrent" style="color: green"
          href="/episodes/{{ episode.id }}/fetch?provider_id={{ torrent.provider_id }}">F</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
{{ render_episode_torrent_upload(episode) }}
{% endblock %}