{% macro render_torrent_list(torrents) %}
<table>
  <tr>
    <th>ID</th>
    <th>Episode</th>
    <th>State</th>
    <th>Title</th>
    <th>Size</th>
    <th>S/L</th>
  </tr>
  {% for torrent in torrents %}
  <tr>
    <td>{{ torrent.id }}</td>
    <td><a href="/episodes/{{ torrent.episode_id }}">{{ torrent.episode.to_string() }}</a></td>
    <td>{{ torrent.state_readable }}</td>
    <td>{{ torrent.title|truncate(64) }}</td>
    <td>{{ torrent.size }}</td>
    <td>{{ torrent.seeders }} / {{ torrent.leechers }}</td>
    {% if g.acl == 'admin' %}
    <td>
      <a style="color: orange" href="/torrents/{{ torrent.id }}/process">P</a>
      <a style="color: red" href="/torrents/{{ torrent.id }}/delete">D</a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endmacro %}
